.center {
  text-align: center;
}

.band-third {
  width: 20%;
}

/* .band-justify {
  text-align: justify !important;
} */

.band-margin-bottom {
  margin-bottom: 16px !important;
} 

.mtb-5 {
  margin: 5rem 0;
}

@media screen and (max-width: 600px) {
  .band-third {
    width: 100%;
    padding: 0 1rem;
  }
}