.row {
  display: flex;
  width: 100%;
}

.justifyCenter {
  justify-content: center;
}

.justifyEvenly {
  justify-content: space-evenly;
}

.mt {
  margin-top: .75rem;
}

.mt-2 {
  margin-top: 2rem;
}
