.footer {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  color: #757575;

  margin-top: 2.5rem;
  margin-bottom: 2rem;
}

.footer p {
  font-size: 12px;
}

.footer a {
  text-decoration: underline;
  color: #757575;
}

.icon-list .anticon svg[Attributes Style]{
  width: 30px !important;
  height: 30px !important;
}

.bg-grey {
  background-color: #f1f1f1;
}